.MainDiv {
    color: white;
    background-color: rgb(66, 109, 110);
    text-align: center;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}